TextureAnimations/autocannon_blue.texanim
Textures/autocannon.tga
Textures/explosion_core.tga
Textures/explosion_spikes.tga
Textures/gaussbullet.tga
Textures/gaussbulletBW.tga
Textures/smoke1.tga
Textures/smoke2.tga
Textures/smoke3.tga
Textures/smoke4.tga
Textures/smokeblack.tga
Textures/SmokeCloud.tga
Textures/SmokeCloudDark.tga
Textures/smokecore.tga
Textures/Kay_LightningBolt0000.tga
TextureAnimations/fireyflair.texanim
Textures/Kay_SketchyWave.tga
Textures/lensflare4.dds
Textures/shockwave.dds
Textures/shockwave3.tga
Textures/shockwave4.tga
Textures/shockwave5.tga
Textures/shockwaveblue3.tga
Textures/shockwavebluering2.tga
Textures/shockwavecloud.tga
Textures/shrapnelblue.tga
Textures/fireball.tga
Textures/fireballfront.tga
Textures/fireyflair.tga
Textures/lensflare4.dds
TextureAnimations/sparks.texanim
Textures/a-explosion_core.tga
Textures/a-explosion_sparkb.tga
Textures/a-explosion_sparks.tga
Textures/a-explosion_wind.tga
Textures/explosion_cloudout.tga
Textures/sparkles.tga
Textures/sparks2.tga
Textures/sparks3.tga
Textures/sparksarray.tga
Textures/sparksarrayphase.tga
Textures/sparksarraypsi.tga
Textures/sparkscluster.tga
