*.texanim
Textures/explosion.tga
Textures/explosion_blue-a1.tga
Textures/shockwave.dds
Textures/shockwave3.tga
Textures/shockwave4.tga
Textures/shockwave5.tga
Textures/shockwaveblue3.tga
Textures/shockwavebluering2.tga
Textures/shockwavecloud.tga
Textures/shrapnelblue.tga
Textures/smoke1.tga
Textures/explosion_bsg.tga
Textures/explosion_cloudout.tga
Textures/explosion_bsggreen.tga
Textures/explosion_core.tga
Textures/explosion_pointer.tga
Textures/sparkscluster.tga
Textures/smoke2.tga
Textures/explosion_spikes.tga
Textures/smoke3.tga
Textures/explosivebubbles.tga
Textures/smoke4.tga
Textures/sparksarraypsi.tga
Textures/smokeblack.tga
Textures/sparksarrayphase.tga
Textures/fireyflair.tga
Textures/SmokeCloudDark.tga
Textures/Kay_LightningBolt0000.tga
Textures/smokecore.tga
Textures/smolderblack.tga
Textures/sparks2.tga
Textures/sparks3.tga
Textures/sparksarray.tga
Particle/CapitalAbility_IonBlastMuzzle.particle
Textures/EotH_Kariek-cl.psd
Movie/OpeningCinematic.bik